@import "bourbon";
@import "../../colors";

$image-size: 100px;

.album-list-item {
    position: relative;
    padding: 10px 0;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .album-list-item-title {
        margin-left: 25px;

        font-size: 2.5rem;
        font-weight: 200;
        line-height:  $image-size;
    }
}