@import "bourbon";
@import "../../colors";

.artist {

    .artist-header {
        @include clearfix;

        margin: 50px 0;

        .artist-header-details {
            margin-left: 100px;
            padding: 0 25px;
        }

        .artist-header-name {
            font-size: 5rem;
            font-weight: 200;
        }
    }
}
