@import "bourbon";
@import "../colors";
@import "../constants";

.spotify-image {
    position: relative;
    display: inline-block;

    width: $image-size;
    height: $image-size;
    object-fit: cover;

    .spotify-image-large {
        width: $image-size-large;
        height: $image-size-large;
    }

    &.spotify-image-circular {
        border-radius: 50%;
    }

    &.spotify-image-bordered {
        border: 1px solid $color-border-light;
    }
}