@import "bourbon";
@import "../colors";
@import "../constants";

.sticky-header {
    @include position(fixed, 0 0 null 0);

    width: 100%;
    height: $header-height;
    z-index: 100;

    border-bottom: 1px solid $color-border-dark;
    background: white;

    @include transition(border .3s ease-out);

    h1 {
        margin: 0;

        line-height: $header-height;
    }

    &.sticky-header-is-top {
        border-bottom-color: transparent;
    }

}

